body {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: white;
  background-attachment: fixed;

}
#kotitas{
  cursor: default;
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  margin: 0px;
  display: block;
  -webkit-animation: bounce .2s ease infinite alternate;
  font-family: 'Erica One', cursive;
  font-size: 120px;
  text-align: center;
  line-height: 100px;
  text-shadow: 0 1px 0 #CCC, 0 2px 0 #CCC, 0 3px 0 #CCC, 0 4px 0 #CCC, 0 5px 0 #CCC, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.6);
}
@-webkit-keyframes bounce {
  100% {
    top: 30px;
    text-shadow: 0 0px 0 #CCC, 0 2px 0 #CCC, 0 3px 0 #CCC, 0 4px 0 #CCC, 0 5px 0 #CCC, 0 6px 0 #CCC, 0 7px 0 #CCC, 0 8px 0 #CCC, 0 9px 0 #CCC, 0 0px 0px rgba(0, 0, 0, 0.3);
  }*/
}
h1{
  font-size: 20px;
  font-family: corbel;
  color: black;
}
h2{
  font-size: 20px;
  font-family: corbel;
  color: black;
}
h3{
  font-size: 12px;
  font-family: corbel;
  text-align: justify;
  color:  #1c2833;
  width: 75%;
  height: 25%;
}
h4{
  font-size: 20px;
  font-family: corbel;
  color: black;
}
h5{
  font-size: 12px;
  font-family: corbel;
  text-align: justify;
  color:  #1c2833;
  width: 75%;
  height: 25%;
}
  header {
    text-orientation: center;
    font-size:100px;
    font-family: 'Monoton', cursive;
    background-image:url();
    margin: 200px;
    display: block;
   }
   /*CSS DEL NAV Y MENU DESPLEGABLE*/

   #nav{

    height: 5%;
    width: 100%;
    font-family: corbel;
    margin-left:40% ;
    margin-right: 40%;
   }

 ul, ol { list-style:none; } .nav > li { float:left; }
 .nav li a {
  border-radius: 2em;
  background-color:#900C3F;
  color:white;
  text-decoration:none;
  padding:15px 20px;
  display:block; }
 .nav li a:hover {
   background:#3d4b52 ;
   opacity: .9;
 }
 .nav li ul {
   display:none; position:absolute; min-width:140px;
 }
 .nav li:hover > ul { display:block; }
 .nav li ul li { position:relative; }
 .nav li ul li ul { right:-140px; top:0px; }

   #contenedor{
     background: rgba(0,0,0,.08);
     height: auto;
     width: 85%;
   }
   #carrusel{
     background: white;
     width: 75%;
     align-content: left;
     margin-left:25%;
     margin-right:25%;
     margin-top: 10%;
   }
   #Noticias{
     margin-left: 10px;
     margin-right: 10px;
     margin-top: 10px;
     width: 100%;
   }

 p{
   background-color:#581845;
   border-radius: 2em;
     font-size: 10%;
     font-family: corbel;
     text-align: center;
     width: 10%;
     margin-left: 2px;

   }
   #Izquierda{
     height: 500px;
     width: 550px;
     background: white;
     display: inline-block;
     margin-left: 2px;
     margin-right: 2px;
     float: left;
   }
  #Centro{
    height: 500px;
    width: 550px;
    background: white;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    float: right;
  }
  #novedades{
    background: white;
    width: 1200px;
    height: 2%;
    display: inline-block;
    margin-top: 5%;
  }
  #novedades1{
    background: ;
    color:  #c39bd3 ;
    width: 293px;
    height:200px;
    margin:1px;
    text-align: justify;
    display: inline-block;

  }
  #novedades2{
    background:  #af7ac5 ;
    color: white;
    width: 293px;
    height:200px;
    margin:1px;
    text-align: justify;
    display: inline-block;

  }
  #novedades3{
    background:  #c39bd3 ;
    color: white;
    width: 293px;
    height:250px;
    text-align: justify;
    display: inline-block;
    margin: 1px;
   }
   #novedades4{
     background:  #af7ac5 ;
     color: white;
     width: 293px;
     height:200px;
     margin: 1px;
     text-align: justify;
     display: inline-block;

   }
   #menu{
    margin: 0px;
    position:inherit;
    height: 100%;
    height: 50px;
    width: 200px;
    text-align: center;
    float : left;
    margin-right:  100px;
    line-height: 60px;


    font-size: 40px;
    color: black;

   }
   h1{
    margin:  10px;
    color: black
   }
   #contacto{
    margin-top: 0px;
   }
   #contacto li{
    list-style:none;
   }
   strong{
    font-size: 30px;
    text-align: left;
   }
   p{ font-size: 30px;
     background-color:#5d6d7e ;
    text-align: left;
    width: 50%;
    color: black;}
.table img{
height: 100px;
width: 100px;
margin: 50px 0;
-webkit-transition: all 2s ease;
-moz-transition: all 2s ease;
-ms-transition: all 2s ease;
transition: all 2s ease;;
}
.table img:hover {
height: 250px;
width: 250px;
margin-left: -30px;
}
footer{
    background-color: #5d6d7e ;
    width: 1300px;
    color: #fff;
    margin: 10px;
    content:center;
   }
   .container-footer{
    display: flex;

   }
   .columna1{
    width: 100%;
    padding-top: 5px;

   }
   .columna1 h2{
    font-size: 22px;
    font-family: corbel;
   }
   .columna1 p{
    font-size: 12px;
    font-family: corbel;
    color: #c7c7c7;
   }
   .columna2{
    width: 100%;
    max-width: 400px;
    padding-top: 10px;
   }
   .columna2 h2{
    font-size: 22px;
    font-family: corbel;

   }
   .columna2 .row{
    margin-top: 10px;
    display: flex;
    color: #c7c7c7;
   }
   .columna2 .row img{
    width: 35px;
    height: 36px;
    color: #ffff;

   }
   .columna2 .row label{

    margin: 8px 10px;

   }
   .columna3{
    padding-top: 10px;
    width: 600px;
   }
   .columna3 h2{
    font-size: 22px;
    font-family: corbel;

   }
   .columna1, .columna2, .columna3{
      margin-left: 10px;
   }
