   *{
    margin: 0px;
   padding: 0px;
   -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   box-sizing: border-box;
   }
   body {
    background: #FFFFFF;
    
   }
   
   .header .container-log {
 

    
    background: rgba(75,229,252,.5);
    background: #4BE5FC
    width: 100%;
    height: 60px;
    margin:auto;
    
    margin-top: 5px;
    padding-bottom: 30px;

    }
   .header .container-log .form-log{
    text-align: right;
    padding: 10px 10px;
    margin-top: 10px;

   }
   .header .container-log .form-log .form-label{

      color:#ffff;
   }
    .header p{
    
    font-family: fantasy;
    text-align:center;
    font-size: 40px;

    }
   nav{
    background-color: 
    width: 100%;
    height: 20%;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Handlee', cursive;
    font-family: 'Gochi Hand', cursive;
    font-family: 'Copse', serif;
}
   
   

   
   footer{
    background-color: black;
    width: 100%;
    color: #fff;
   }
      

    
   }
  
   }
   h1{
    margin:  0px;
   }
   #contacto{
    margin-top: 0px;
   }
   #contacto li{
    list-style:none;
   }
   p{
    font-size: 30px;
    text-align: left;
   }

   .ex2{
    background-color:#E8F3F7;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
      

    }

    .ex2 img{
      
    height: 100px;
    width: 100px;
    padding: 30px;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    }
    .ex2 img:hover {
    height: 120px;
    width: 120px;
    
    }